div#splash {
    background-color: white;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    opacity: 1;
    transition: opacity .25s ease-in;
    display: flex;
    align-items: center;

    .splash__logo {
        margin: 0px auto;
        font-family: 'Browallia';
        color: $semi-light-grey;
        font-size: 70px;
        line-height: 70px;
        margin-top: -20px;
        text-align: center;
        div.lawa {
            color: #A8A8A8;
            display: inline;
        }
        sup.beta {
            font-family: 'Browallia' !important;
        }
    }
}

div#splash.fade-out {
    opacity: 0;
}

@media only screen and (max-width: 500px) {
    div#splash{
        .splash__logo {
            font-size: 300%;
        }
    }
}